<div>
  <!-- <div *ngIf="currentFurniture.slug"> -->
  <div>
      <h4>Furniture</h4>
      <!-- <div>
          <label><strong>ID:</strong></label> {{ currentFurniture.slug }}
      </div> -->
      <div>
          <label><strong>Name:</strong></label> {{ currentFurniture.name }}
      </div>
      <div>
          <label><strong>Price:</strong></label> {{ currentFurniture.price }}
      </div>
      <div>
          <label><strong>Description:</strong></label> {{ currentFurniture.description }}
      </div>
      <div>
          <label><strong>Owner:</strong></label> {{ currentFurniture.owner }}
      </div>

      <!-- <a class="badge badge-warning" routerLink="/furniture/update/{{ currentFurniture.slug }}">
          Edit
      </a>
      <a class="badge badge-danger mr-2" (click)="deleteFurniture(currentFurniture.slug)">Delete</a> -->
  </div>

  <div *ngIf="currentFurniture.name == ''">
      <br />
      <p>Please click on a furniture...</p>
  </div>
</div>
