<div>
  <div class="submit-form">
      <div>
          <div class="form-group">
              <label for="furniture_name">Furniture name</label>
              <input type="text" class="form-control" id="furniture_name" required [(ngModel)]="new_furniture.name" name="furniture_name"/>
          </div>

          <div class="form-group">
            <label for="furniture_price">Furniture price</label>
            <input class="form-control" id="furniture_price" required [(ngModel)]="new_furniture.price" name="furniture_price"/>
          </div>

          <div class="form-group">
              <label for="furniture_description">Furniture description</label>
              <input class="form-control" id="furniture_description" required [(ngModel)]="new_furniture.description" name="furniture_description"/>
          </div>

          <div class="form-group">
              <label for="furniture_owner">Furniture owner</label>
              <input class="form-control" id="furniture_owner" required [(ngModel)]="new_furniture.owner" name="furniture_owner"/>
          </div>

          <button (click)="create_furniture()" class="btn btn-success" *ngIf="!update">Add</button>
          <button (click)="update_furniture()" class="btn btn-success" *ngIf="update">Update</button>
      </div>
  </div>
</div>