<div>
  <div class="submit-form">
      <div>
          <div class="form-group">
              <label for="product_name">Product name</label>
              <input type="text" class="form-control" id="product_name" required [(ngModel)]="new_product.name" name="product_name"/>
          </div>

          <div class="form-group">
            <label for="product_price">Product price</label>
            <input class="form-control" id="product_price" required [(ngModel)]="new_product.price" name="product_price"/>
          </div>

          <div class="form-group">
              <label for="product_description">Product description</label>
              <input class="form-control" id="product_description" required [(ngModel)]="new_product.description" name="product_description"/>
          </div>

          <div class="form-group">
            <label for="product_category">Product category</label>
            <input class="form-control" id="product_category" required [(ngModel)]="new_product.category" name="product_category"/>
          </div>

          <div class="form-group">
              <label for="product_owner">Product owner</label>
              <input class="form-control" id="product_owner" required [(ngModel)]="new_product.owner" name="product_owner"/>
          </div>

          <button (click)="create_product()" class="btn btn-success" *ngIf="!update">Add</button>
          <button (click)="update_product()" class="btn btn-success" *ngIf="update">Update</button>
      </div>
  </div>
</div>