<div class="list row">
  <div class="col-md-6">
      <h4>Crud List</h4>
      <button class="m-3 btn btn-sm btn-danger" (click)="delete_all_furnitures()">Delete All</button>
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let furniture of furnitures; let i = index"
              [class.active]="i == currentIndex" (click)="set_furniture(furniture, i)">
              {{ furniture.name }}
          </li>
      </ul>
  </div>
  <div class="col-md-6">
    <app-furniture-details [viewMode]="true" [currentFurniture]="currentFurniture"></app-furniture-details>
  </div>

</div>
