<div>
  <div class="submit-form">
      <div>
            <div class="form-group">
                <label for="category_name">Category name</label>
                <input type="text" class="form-control" id="category_name" required [(ngModel)]="new_category.category_name" name="category_name"/>
            </div>

            <div class="form-group">
                <label for="category_picture">Category picture</label>
                <input type="text" class="form-control" id="category_picture" required [(ngModel)]="new_category.category_picture" name="category_picture"/>
            </div>

            <button (click)="create_category()" class="btn btn-success" *ngIf="!update">Add</button>
            <button (click)="update_category()" class="btn btn-success" *ngIf="update">Update</button>
      </div>
  </div>
</div>