<div>
  <div class="submit-form">
      <div>
            <div class="form-group">
                <label for="id_cat">Category id</label>
                <input type="text" class="form-control" id="id_cat" required [(ngModel)]="new_category.id_cat" name="id_cat"/>
            </div>

            <div class="form-group">
                <label for="category_name">Category name</label>
                <input type="text" class="form-control" id="category_name" required [(ngModel)]="new_category.category_name" name="category_name"/>
            </div>

            <div class="form-group">
                <label for="image">Category picture</label>
                <input type="text" class="form-control" id="image" required [(ngModel)]="new_category.image" name="image"/>
            </div>

            <button (click)="create_category()" class="btn btn-success" *ngIf="!update">Add</button>
            <button (click)="update_category()" class="btn btn-success" *ngIf="update">Update</button>
      </div>
  </div>
</div>