<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Salva Wallapop</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="category" class="nav-link">Categories</a>
      </li>
      <li class="nav-item">
        <a routerLink="category/add" class="nav-link">Add categories</a>
      </li>
      <li class="nav-item">
        <a routerLink="product" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="product/add" class="nav-link">Add products</a>
      </li>
      <li class="nav-item">
        <a routerLink="furniture" class="nav-link">Furnitures</a>
      </li>
      <li class="nav-item">
        <a routerLink="furniture/add" class="nav-link">Add furnitures</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>