<div class="list row">
  <div class="col-md-6">
      <h4>Crud List</h4>
      <button class="m-3 btn btn-sm btn-danger" (click)="delete_all_category()">Delete All</button>
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let category of categories; let i = index"
              [class.active]="i == currentIndex" (click)="set_category(category, i)">
              {{ category.category_name }}
          </li>
      </ul>
  </div>
  <div class="col-md-6">
    <app-category-details [viewMode]="true" [currentCategory]="currentCategory"></app-category-details>
  </div>

</div>
